.loginBoxWrapper {
    width: 100%;
    background: rgb(248, 210, 85);
    background-size: auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    svg {
        color: #fff;
        position: absolute;
        right: 27.5%;
        top: 5%;
    }
}

.loginFormWrapper {
    width: 30%;
    background: #121214;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper {
    width: 50vh;
    height: 40vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    form {
        margin: 0 auto;
        padding: 20px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
            padding: 10px;
        }

        input {
            height: 30px;
            border: 0;
            border-radius: 5px;
            padding: 8px;
        }

        div {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            button {
                height: 40px;
                border: 0;
                border-radius: 5px;
                cursor: pointer;
            }

            a {
                padding: 10px;
                text-decoration: none;
                color: #fff;
            }
        }

    }
}

.logo {
    font-size: 72px;
    font-weight: bold;
    padding-top: 40vh;
    margin: 0 auto;
    color: #121214ee;
}
