* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Zen Kaku Gothic Antique, sans-serif;
    text-decoration: none;
}

body {
    color: #e1e1e6;
    width: 100%;
    height: 100%;
}